services:
  srs:
    image: ossrs/srs:6
    container_name: srs
    restart: unless-stopped
    ports:
      - "1935:1935"
      - "9972:9972"
    volumes:
      - ./srs/conf:/usr/local/srs/conf
      - ./srs/data:/data
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.stream.rule=Host(`stream.marcel-sigl.dev`)"
      - "traefik.http.routers.stream.entrypoints=websecure"
      - "traefik.http.routers.stream.tls=true"
      - "traefik.http.services.stream.loadbalancer.server.port=8080"

      - "traefik.http.middlewares.stream-redirect.redirectregex.regex=^/$"
      - "traefik.http.middlewares.stream-redirect.redirectregex.replacement=/owo/stream.m3u8"
      - "traefik.http.routers.stream.middlewares=stream-redirect"
    networks: [proxy]

networks:
  proxy:
    external: true
